.Palette {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Palette-colors {
    height: 90%;
}

.Palette-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4vh;
    padding: 0 1em;
    font-weight: bold;
}

.Palette-footer span {
    margin: 0 10px;
    display: inline-block;
}
